
.container {
	border: dashed 2px red;
  height: 100vh;
  display: flex;
  justify-content: center;
  /*justify-content: space-between;*/
 /* justify-content: space-around;*/
  /*justify-content: flex-start;*/
  /*justify-content: flex-end;*/

  flex-wrap: wrap;
  /*flex-wrap: wrap-reverse;*/
  /*flex-wrap: nowrap;*/

  /*flex-direction: row-reverse;*/
  /*flex-direction: column;*/

  /*align-items: center;*/
  /*align-items: baseline;*/
  /*align-items: flex-start;*/
  /*align-items: flex-end;*/
  /*align-items: stretch;*/

  /*align-content: center;*/
  /*align-content: space-between;*/
  /*align-content: flex-end;*/

}

.container > div {
/* 1 */
/*  display: inline-block;*/

  background: #373142;
  color: #FFF;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  /*float: left;*/
}

.container > div:nth-child(2) {
  /*height: 150px;*/
 /* line-height: 120px;*/

}